@{
    ViewData["Title"] = "Formasyon Görselleştirmesi";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #plot-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        #plot, #plot2 {
            width: 48%;
            height: 500px;
            border: 1px solid #ccc;
        }

        #dropzone, #dropzone2 {
            width: 48%;
            height: 100px;
            border: 2px dashed #007bff;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #007bff;
            text-align: center;
            margin-bottom: 20px;
        }

        .axis text {
            font-size: 10px;
        }

        .plot-with-title {
            position: relative;
            margin-bottom: 20px; /* Başlık ile plot arasına boşluk bırakır */
        }

        .plot-title {
            position: absolute;
            top: -30px; /* Başlığı div'in üstünde konumlandırır */
            left: 50%;
            transform: translateX(-50%);
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

    </style>
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <h3>Formasyon Görselleştirmesi</h3>

    <div id="plot-container">
        <div id="dropzone">
            Yer altı formasyonu için sürükleyip bırakın veya dosya seçin
            <input type="file" id="fileInput" style="display: none;">
            <div id="filename"></div>
        </div>
        <div id="dropzone2">
            Kuyu formasyonu için sürükleyip bırakın veya dosya seçin
            <input type="file" id="fileInput2" style="display: none;">
            <div id="filename2"></div>
        </div>
    </div>

    <div id="plot-container">
        <div id="plot" class="plot-with-title">
            <div class="plot-title">Yer Altı Formasyonu</div>
        </div>
        <div id="plot2" class="plot-with-title">
            <div class="plot-title">Kuyu Formasyonu</div>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropzone = document.getElementById('dropzone');
            const fileInput = document.getElementById('fileInput');
            const filenameDisplay = document.getElementById('filename');

            const dropzone2 = document.getElementById('dropzone2');
            const fileInput2 = document.getElementById('fileInput2');
            const filenameDisplay2 = document.getElementById('filename2');

            let originalFormations = [];  // originalFormations değişkenini global olarak tanımlıyoruz

            dropzone.addEventListener('click', function () {
                fileInput.click();
            });

            dropzone.addEventListener('dragover', function (event) {
                event.preventDefault();
                dropzone.style.borderColor = "#666";
                dropzone.style.color = "#666";
            });

            dropzone.addEventListener('dragleave', function () {
                dropzone.style.borderColor = "#ccc";
                dropzone.style.color = "#ccc";
            });

            dropzone.addEventListener('drop', function (event) {
                event.preventDefault();
                dropzone.style.borderColor = "#ccc";
                dropzone.style.color = "#ccc";

                const file = event.dataTransfer.files[0];
                handleFile(file);
            });

            fileInput.addEventListener('change', function (event) {
                const file = event.target.files[0];
                handleFile(file);
            });

            dropzone2.addEventListener('click', function () {
                fileInput2.click();
            });

            dropzone2.addEventListener('dragover', function (event) {
                event.preventDefault();
                dropzone2.style.borderColor = "#666";
                dropzone2.style.color = "#666";
            });

            dropzone2.addEventListener('dragleave', function () {
                dropzone2.style.borderColor = "#ccc";
                dropzone2.style.color = "#ccc";
            });

            dropzone2.addEventListener('drop', function (event) {
                event.preventDefault();
                dropzone2.style.borderColor = "#ccc";
                dropzone2.style.color = "#ccc";

                const file = event.dataTransfer.files[0];
                handleFile2(file);
            });

            fileInput2.addEventListener('change', function (event) {
                const file = event.target.files[0];
                handleFile2(file);
            });

            function handleFile(file) {
                if (file) {
                    filenameDisplay.textContent = file.name;

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const text = e.target.result;
                        const rawData = d3.dsvFormat(";").parse(text);
                        originalFormations = rawData;  // Verileri kaydediyoruz
                        drawChart(originalFormations);
                    };
                    reader.readAsText(file);
                }
            }

            function handleFile2(file) {
                if (file) {
                    filenameDisplay2.textContent = file.name;

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const text = e.target.result;
                        const wellboreData = parseWellpathReport(text);
                        drawChart2(wellboreData);
                    };
                    reader.readAsText(file);
                }
            }
            function parseWellpathReport(text) {
                const lines = text.split('\n');

                // 'Wellpath Report' ve 'Comments' başlıklarının indekslerini bul
                const startIndex = lines.findIndex(line => line.includes('Wellpath Report')) + 1;
                const endIndex = lines.findIndex(line => line.includes('Comments'));

                if (startIndex === 0 || endIndex === -1) {
                    console.error("Wellpath Report veya Comments başlığı bulunamadı.");
                    return [];
                }

                // 'Wellpath Report' ve 'Comments' arası satırları al
                const reportLines = lines.slice(startIndex, endIndex).filter(line => line.trim() !== '');
                if (reportLines.length === 0) {
                    console.error("Wellpath Report kısmında veri bulunamadı.");
                    return [];
                } else {
                    console.log("Wellpath Report kısmında veri bulundu.");
                }

                // Başlıkları al
                const header = reportLines[0].split(';');
                console.log("Başlıklar:", header);

                // Veriyi parse et
                return reportLines.slice(1).map((line) => {
                    const values = line.split(';').map(value => value.trim().replace(',', '.'));

                    const [MD, Inc, Azi, TVD] = values;

                    // NaN olan değerleri filtrele
                    const parsedMD = parseFloat(MD);
                    const parsedInc = parseFloat(Inc);
                    const parsedAzi = parseFloat(Azi);
                    const parsedTVD = parseFloat(TVD);

                    if (isNaN(parsedMD) || isNaN(parsedInc) || isNaN(parsedAzi) || isNaN(parsedTVD)) {
                        return null;
                    }

                    return {
                        MD: parsedMD,
                        Inc: parsedInc,
                        Azi: parsedAzi,
                        TVD: parsedTVD
                    };
                }).filter(d => d !== null);
            }


            function drawChart(rawData) {
                d3.select("#plot").select("svg").remove();

                const data = rawData.map((d, i) => {
                    if (i === 0) {
                        return {
                            state: "Kuyu",
                            formasyon: d.Formasyon,
                            depth: +d["Alt Derinlik (TVD)"]
                        };
                    } else {
                        const previousDepth = +rawData[i - 1]["Alt Derinlik (TVD)"];
                        const currentDepth = +d["Alt Derinlik (TVD)"];
                        return {
                            state: "Kuyu",
                            formasyon: d.Formasyon,
                            depth: currentDepth - previousDepth
                        };
                    }
                });

                const width = 300;
                const height = 500;
                const marginTop = 10;
                const marginRight = 10;
                const marginBottom = 20;
                const marginLeft = 40;

                const series = d3.stack()
                    .keys(d3.union(data.map(d => d.formasyon)))
                    .value(([, D], key) => D.get(key).depth)
                    (d3.index(data, d => d.state, d => d.formasyon));

                const x = d3.scaleBand()
                    .domain(d3.groupSort(data, D => -d3.sum(D, d => d.depth), d => d.state))
                    .range([marginLeft, width - marginRight])
                    .padding(0.1);

                const y = d3.scaleLinear()
                    .domain([0, d3.max(series, d => d3.max(d, d => d[1]))])
                    .range([marginTop, height - marginBottom]);

                const color = d3.scaleOrdinal()
                    .domain(series.map(d => d.key))
                    .range(d3.schemeSpectral[series.length])
                    .unknown("#ccc");

                const svg = d3.select("#plot").append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .attr("viewBox", [0, 0, width, height])
                    .attr("style", "max-width: 100%; height: auto;");

                svg.append("g")
                    .selectAll("g")
                    .data(series)
                    .join("g")
                    .attr("fill", d => color(d.key))
                    .selectAll("rect")
                    .data(D => D.map(d => (d.key = D.key, d)))
                    .join("rect")
                    .attr("x", d => x(d.data[0]))
                    .attr("y", d => y(d[0]))
                    .attr("height", d => y(d[1]) - y(d[0]))
                    .attr("width", x.bandwidth())
                    .append("title")
                    .text(d => `${d.data[0]} ${d.key}\n${d.data[1].get(d.key).depth.toLocaleString("tr")}`);

                svg.append("g")
                    .attr("transform", `translate(0,${marginTop})`)
                    .call(d3.axisLeft(y))
                    .call(g => g.select(".domain").remove());

                svg.append("g")
                    .attr("transform", `translate(${marginLeft}, 0)`)
                    .call(d3.axisLeft(y).ticks(null))
                    .call(g => g.selectAll(".domain").remove());
            }

            function drawChart2(wellboreData) {
                //eğer originalFormations boşsa bir uyarı mesajı göster ve fonksiyondan çık
                if (originalFormations.length === 0) {
                    alert("Önce formasyon dosyası yükleyin.");
                    return;
                }

                // Mevcut formasyonları kopyalayarak başlıyoruz.
                let formations = [...originalFormations];

                console.log("Wellbore Data:", wellboreData);
                console.log("Original Formations:", originalFormations);

                // Formasyonları güncelleme
                formations.forEach(formation => {
                    let newDepth = formation['Alt Derinlik (TVD)'] - formation['Üst Derinlik (TVD)']; // Başlangıçta, yeni derinlik üst derinlik olarak ayarlanır.
                    let newDepth2 = 0;
                    // Wellbore verileri üzerinden formasyon derinliklerini güncelleme
                    wellboreData.forEach(wellbore => {
                        if (wellbore.TVD >= formation['Üst Derinlik (TVD)'] && wellbore.TVD <= formation['Alt Derinlik (TVD)']) {
                            if (wellbore.Inc !== 0) {
                                newDepth2 = (wellbore.MD - wellbore.TVD);  // Delta MD'yi topluyoruz.
                            }
                        } else {
                            return;
                        }
                    });

                    // Yeni hesaplanan Alt Derinlik (TVD) değerini formasyonun güncellenmiş derinlik olarak ayarla
                    formation['Alt Derinlik (TVD)'] = newDepth + newDepth2;

                    // Yeni Alt Derinlik (TVD) değerini konsola yazdırma
                    console.log(`Formasyon: ${formation['Formasyon']}, Yeni Alt Derinlik (TVD): ${formation['Alt Derinlik (TVD)']}`);
                });

                // Verileri grafiğe dönüştürme
                const width = 300;
                const height = 500;
                const marginTop = 10;
                const marginRight = 10;
                const marginBottom = 20;
                const marginLeft = 40;

                const data = formations.map((d, i) => {
                    if (i === 0) {
                        return {
                            state: "Kuyu",
                            formasyon: d.Formasyon,
                            depth: +d["Alt Derinlik (TVD)"]
                        };
                    } else {
                        const previousDepth = +formations[i - 1]["Alt Derinlik (TVD)"];
                        return {
                            state: "Kuyu",
                            formasyon: d.Formasyon,
                            depth: +d["Alt Derinlik (TVD)"] 
                        };
                    }
                });

                //D3 stack layout ile verileri yığma (stack) formatında hazırla
                const series = d3.stack()
                    .keys(d3.union(data.map(d => d.formasyon)))
                    .value(([, D], key) => D.get(key).depth)
                    (d3.index(data, d => d.state, d => d.formasyon));

                //x ekseni için ölçek oluştur
                const x = d3.scaleBand()
                    .domain(d3.groupSort(data, D => -d3.sum(D, d => d.depth), d => d.state))
                    .range([marginLeft, width - marginRight])
                    .padding(0.1);

                //y ekseni için ölçek oluştur
                const y = d3.scaleLinear()
                    .domain([0, d3.max(series, d => d3.max(d, d => d[1]))])
                    .range([marginTop, height - marginBottom]);

                //renk ölçeği oluştur
                const color = d3.scaleOrdinal()
                    .domain(series.map(d => d.key))
                    .range(d3.schemeSpectral[series.length])
                    .unknown("#ccc");

                //SVG ögesi oluşturma ve ayarlama 
                const svg = d3.select("#plot2").append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .attr("viewBox", [0, 0, width, height])
                    .attr("style", "max-width: 100%; height: auto;");

                //grafik çubuklarını ekleme 
                svg.append("g")
                    .selectAll("g")
                    .data(series)
                    .join("g")
                    .attr("fill", d => color(d.key))
                    .selectAll("rect")
                    .data(D => D.map(d => (d.key = D.key, d)))
                    .join("rect")
                    .attr("x", d => x(d.data[0]))
                    .attr("y", d => y(d[0]))
                    .attr("height", d => y(d[1]) - y(d[0]))
                    .attr("width", x.bandwidth())
                    .append("title")
                    .text(d => `${ d.data[0] } ${ d.key }\n${ d.data[1].get(d.key).depth.toLocaleString("tr") }`);

                //y eksenini ekleme 
                svg.append("g")
                    .attr("transform", `translate(0,${marginTop})`)
                    .call(d3.axisLeft(y))
                    .call(g => g.select(".domain").remove());

                //x eksenini ekleme
                svg.append("g")
                    .attr("transform", `translate(${marginLeft}, 0)`)
                    .call(d3.axisLeft(y).ticks(null))
                    .call(g => g.selectAll(".domain").remove());
            }



        });
    </script>
</body>
</html>
