@{
    ViewData["Title"] = "Türkiye Petrolleri Anonim Ortaklığı";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <title>@ViewData["Title"]</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow-y: auto;
        }

        body {
            position: relative;
            margin: 0;
            height: 100%;
        }

            body::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(2, 2, 2, 0.8); /* Hafif karartı verir */
                z-index: -1; /* İçerik üzerinde ama arka planın altında */
            }

        .background {
            position: fixed; /* Sabit kalmasını sağlar */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/petrolsaha.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -2; /* Arka planda olmasını sağlar */
            opacity: 0.3;
        }

        .content {
            position: relative;
            z-index: 1; /* İçerik ön planda olacak şekilde ayarlanır */
        }
    </style>
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <h1 style ="color: whitesmoke">@ViewData["Title"]</h1>
        <!-- İçerik buraya gelecek -->
        <div style="height: 800px;">
            <p style="color: whitesmoke; font-size: 23px;">
                Bu proje, Türkiye Petrolleri Anonim Ortaklığı stajında geliştirilmiş bir web uygulamasıdır. Proje, çeşitli kuyu gruplarının ve kuyu lokasyonlarının yönetimini ve görselleştirilmesini sağlar. Yer altı formasyonlarını sismik veri dosyalarından okuyarak modeller. MVC (Model-View-Controller) yapısını kullanarak, verilerin düzenli bir şekilde sunulmasını ve etkileşimli bir kullanıcı arayüzü sağlanmasını hedefler.
            </p>
        </div>
    </div>
</body>
</html>
